.arrow-container {
    position: relative;
    left: calc(-1 * var(--site-width) + 40px); 
    font-size: larger;
    z-index: 0;
    pointer-events: all;
    background-color: var(--accent-25);
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
}

.arrow-container:hover {
    filter: brightness(93%);
}

.arrow-container:active {
    filter: brightness(104%);
}

.arrow-container::before {
    margin-top: 2px;
}

/* Unused arrow point animation */
@keyframes arrowPoint {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-14px);
    }
}