.rotate90left {
    transform: rotate(-90deg);
}

.rotate90right {
    transform: rotate(90deg);
}

.inactive {
    opacity: 50%;
}

.hidden {
    display: none;
}

/* Allows for fading in & out */
.hidden-trans {
    opacity: 0;
    pointer-events: none;
}

input[type=button].inactive, button.inactive {
    filter: saturate(0);
}

input[type=button].inactive:hover, button.inactive:hover {
    -webkit-filter: saturate(0) brightness(106%);
    filter: saturate(0) brightness(106%);
}

.cancel-button {
    background-color: var(--accent-25) !important;
    border: 2px solid var(--accent-50);
}