.rotate90left {
    transform: rotate(-90deg);
}

.rotate90right {
    transform: rotate(90deg);
}

.inactive {
    opacity: 50%;
}

.hidden {
    display: none;
}

/* Allows for fading in & out */
.hiddenTrans {
    opacity: 0;
    pointer-events: none;
}

input[type=button].inactive {
    filter: saturate(0);
}

input[type=button].inactive:hover {
    -webkit-filter: saturate(0) brightness(106%);
    filter: saturate(0) brightness(106%);
}