.display-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 12px 20px 16px 20px;
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    z-index: 3;

    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.4);
    -o-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.4);

    transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -webkit-transition: all 150ms ease-in-out;
}

.display-box-content {
    background-color: var(--light);
    padding: 16px;
}

.display-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display-box-header > * {
    padding: 5px;
    height: 100%;
}

.display-box h4 {
    font-weight: 500;
}

i[id$="close"] {
    cursor: pointer;
    color: var(--dark);

    transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -webkit-transition: all 150ms ease-in-out;
}

i[id$="close"]:hover {
    filter: brightness(3);
}

.display-box h3 {
    font-weight: 500;
    font-size: medium;
    font-style: italic;
}

.overlay {
    background-color: var(--dark);
    opacity: 0%;
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 2;
}

.display-box input[type="button"], .display-box button {
    padding: 6px;
    margin: 6px;
    background-color: var(--accent);
    border-radius: 5px;
    font-size: small;
}