:root {
    --dark: #110b1d;
    --light: #d5d9f2;
    --accent-25: #c8cdf1;
    --accent-50: #bac1ef;
    --accent-75: #acb5ee;
    --accent: #9da8ec;
    --link: #31c5e6;
    --site-width: 800px;
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: var(--light);
    color: var(--dark);
}

div {
    max-width: var(--site-width);
    margin: 0 auto;
}