:root {
    /* Colors are added during runtime */
    --site-width: 800px;
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: var(--light);
    color: var(--dark);
}

div {
    max-width: var(--site-width);
    margin: 0 auto;
}


/* Transitions when hovering and clicking buttons */
input[type=button], button {
    text-align: center;
    padding: 3px 5px;

    transition: all .1s ease-in-out;
}

input[type=button]:hover, button:hover {
    -webkit-filter: brightness(106%);
    filter: brightness(106%);
}

input[type=button]:active, button:active {
    -webkit-filter: brightness(92%);
    filter: brightness(92%);
}