#goto-line-1 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#goto-line-1 p {
    text-transform: lowercase;
    font-style: italic;
    font-size: small;
}

#goto-input {
    border-bottom: 2px solid var(--accent-75);
    background-color: var(--light);
    text-align: left;
    padding: 3px;
    margin-left: 5px;
    max-width: 60%;

    transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -webkit-transition: all 150ms ease-in-out;
}

#goto-input:focus {
    background-color: var(--accent-50);
    border-bottom-color: var(--accent);
}

#syntax-container {
    margin-right: 8%;
    user-select: none;
    cursor: pointer;
}

#goto-line-2 {
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
    gap: 5px;
}

#goto-line-3 {
    display: flex;
    user-select: none;
    cursor: pointer;
}

#goto-preview {
    font-weight: bold;
}

#date-format-arrow {
    padding: 0 10px;

    transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -webkit-transition: all 150ms ease-in-out;
}

p:has(+ #date-format-arrow), #date-format-arrow + p {
    transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -webkit-transition: all 150ms ease-in-out;
}

#goto-syntax-box {
    left: 80%;
}

#goto-syntax-box p {
    margin-left: 10px;
}

.syntax-section {
    margin: 0 5px 15px 5px;
}

.syntax-section:last-child {
    margin-bottom: 0;
}

#goto-syntax-box h3, #goto-syntax-box h4, #goto-syntax-box p {
    user-select: none;
    cursor: default;
}

#goto-syntax-box code {
    user-select: all;
    cursor: text;
}