#goto-nav {
    user-select: none;
    cursor: default;
}

#goto-line-1 {
    margin-bottom: 10px;
}

#goto-input {
    border-bottom: 2px solid var(--accent-75);
    background-color: var(--accent-25);
    text-align: left;
    height: 19px;
    padding: 3px;
    max-width: 135px;

    transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -webkit-transition: all 150ms ease-in-out;
}

#goto-submit-button {
    margin: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#goto-input-label {
    margin: 0;
    margin-right: 0;
    background-color: var(--accent-50);
    padding: 6px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: small;
    height: 15.5px; /* For some reason, this works. I feel like I should be publicly executed for it, but it works */
    display: inline-block;
}

#goto-input:focus {
    background-color: var(--accent-50);
    border-bottom-color: var(--accent);
}

#syntax-container {
    margin-left: 0;
    cursor: pointer;
}

#syntax-container p {
    text-transform: lowercase;
    font-style: italic;
    font-size: small;
}

#goto-line-2 {
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
    gap: 5px;
}

#goto-line-3 {
    display: flex;
    user-select: none;
    cursor: pointer;
}

#goto-preview {
    font-weight: bold;
}

#date-format-arrow {
    padding: 0 10px;

    transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -webkit-transition: all 150ms ease-in-out;
}

p:has(+ #date-format-arrow), #date-format-arrow + p {
    transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -webkit-transition: all 150ms ease-in-out;
}
/* Goto box */



/* Syntax box */
#goto-syntax-box {
    left: 80%;
}

#goto-syntax-box p {
    margin-left: 10px;
}

.syntax-section {
    margin: 0 5px 15px 5px;
}

.syntax-section:last-child {
    margin-bottom: 0;
}

#goto-syntax-box h3, #goto-syntax-box h4, #goto-syntax-box p {
    user-select: none;
    cursor: default;
}

#goto-syntax-box code {
    user-select: all;
    cursor: text;
}