h1 {
    border-bottom: var(--dark) 2px solid;
    margin-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

table {
    margin: 0px 20px 20px 20px;
    padding: 0px 10px 10px 10px;
    border-collapse: collapse;

    transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
}

td > input {
    text-align: center;
    width: 120px;
    padding: 3px 5px;
}

tr:nth-child(even) > td > input {
    background-color: white;
} 

tr:nth-child(odd) > td > input {
    background-color: var(--accent-25);
}

th {
    background-color: var(--accent);
    padding: 10px;
    position: relative;
    z-index: 1;
}

td:nth-child(4) input, td:nth-child(5) input {
    width: 200px;
}

td:first-child {
    text-align: center;
    width: 60px;
    position: relative;
    z-index: 1;
    user-select: none;
}

th.editable-header p {
    cursor: pointer;
}

th {
    cursor: default;
}

/* .drag-header {
    border-right: 18px solid rgba(0,0,0,.25);
    position: absolute;
    height: 100%;
    right: 0;
    transform: translate(0px, -27px);
    cursor: col-resize;
    z-index: 4;
} */

/* Rounded corners on table */
th:first-child {
    border-top-left-radius: 8px;
}

th:last-child {
    border-top-right-radius: 8px;
}

tr:last-child > td:first-child {
    border-bottom-left-radius: 8px;
}

tr:last-child > td:last-of-type > input {
    border-bottom-right-radius: 8px;
}